h1 {
  text-align: center;
}

.option-buttons-box {
  text-align: center;
}

.option-buttons {
  text-align: center;
}

.create-record-box {
  text-align: center;
}

.filter-button-box {
  text-align: center;
}

.record-table {
  margin: auto;
  min-width: 50%;
  width: auto;
}

.totals-box {
  display: flex;
  justify-content: center;
}

.total {
  text-align: center;
  padding: 20px;
}
